{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}

{% block content %}
{% for item in loop %}

  {% if '1024x0' in item %}
      <img src="{{ item }}" alt="">
      {{ item }}
  {% elif 'link =' in item %}    
      </br>
      <DIV STYLE="background-color:#000000; height:10px; width:100%;"></DIV>
      <a href="{{ item[7:] }}"> رابط السيارة</a>
  {% else %}
    <p  >{{ item }}</p>
  {% endif %}  

{% endfor %}
{% endblock %}